
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}


.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 15px;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.container {
    max-width: 90%;
}

.table {
    margin-top: 30px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: left;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}


.btn-outline-light {
    font-size: 1rem;
}


h2 {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 20px;
}
